<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="first_project" connectionString="Data Source=.; Initial Catalog=first_project; User ID=sa; Password=123; Pooling=true;" providerName="System.Data.sqlClient"/>
  </connectionStrings>

    <system.web>
      <sessionState cookieless="UseCookies" mode="InProc" timeout="30"  regenerateExpiredSessionId="false"/>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
